a {
  text-decoration: none;
}
.bestSelling {
  height: fit-content;
  display: flex;
  padding: 4% 6%;
  justify-content: space-between;
  gap: 4%;
  flex-wrap: wrap;
}
.bestSellingText {
  width: 196px;
}
.bestSellingTitle {
  width: 196px;
  margin-bottom: 12px;

  font-weight: 700;
}
.bestSellingSubtitle {
  width: 196px;
  margin-bottom: 24px;

  font-weight: 500;
  text-align: left;
  color: rgba(30, 30, 30, 0.5);
}

.bestSellingSeeMore {
  background: #c1dcdc;
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;

  border: none;
  border-radius: 8px;
  padding: 12px 24px;
}
.bestSellingCard {
  width: 300px !important;
  height: 436px !important;
}

.bestSellingCardImg {
  width: 300px !important;
  height: 363px !important;
  object-fit: contain !important;
}

.aboutUs {
  width: 100%;
  height: fit-content;
  background: #c1dcdc;
  text-align: center;
  padding: 72px 6%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.aboutUsText {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.aboutUsText h2 {
  font-weight: 700;
  font-size: 32px;
  color: #1e1e1e;
}
.aboutUsText p {
  font-weight: 500;
  font-size: 18px;
  color: rgba(30, 30, 30, 0.5);
}
.aboutUsColumnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;

  height: fit-content;
  flex-wrap: wrap;
}
.aboutUsColumn {
  width: 400px;
  height: 213px;
}

.categories {
  padding: 85px 0;
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 24px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.categoriesText h2 {
  font-weight: 700;
  font-size: 32px;
  color: #1e1e1e;
  margin-bottom: 12px;
}
.categoriesText p {
  font-weight: 500;
  font-size: 18px;
  color: rgba(30, 30, 30, 0.5);
  margin-bottom: 35px;
}
.categoriesCardsContainer {
  width: 100%;
  padding: 0 4%;
  display: flex;
  justify-content: center;
  gap: 6%;
  flex-wrap: wrap;
}
.categoriesCardLink {
  width: 352px !important;
  height: 617px !important;
}
.categoriesCard {
  width: 100% !important;
  height: 617px !important;
  gap: 1% !important;
}
.categoriesCardImg {
  width: 100% !important;
  height: 512px !important;
  border-radius: 12px !important;
}

.exploreLink {
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #1e1e1e;
}
