.columnContainer svg {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  margin: 20px 0 52px 0;
}

.columnContainer h3 {
  font-weight: 700;
  font-size: 18px;
  box-sizing: border-box;
  margin-bottom: 12px;
}
.columnContainer p {
  font-weight: 500;
  font-size: 18px;
  color: rgba(30, 30, 30, 0.5);
  box-sizing: border-box;
}
