.header {
  background: #c1dcdc;
  padding: 0 6.3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4%;
  height: 120px;
  font-family: "Poppins", sans-serif;
}

.header img {
  width: 131px;
  height: 28px;
}

ul {
  display: flex;
  gap: 48px;
  flex: 1;
}
li {
  list-style-type: none;
}

li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: rgba(30, 30, 30, 0.5);
}

.active {
  color: #1e1e1e;
}

.navButtonsContainer {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.navButton {
  text-decoration: none;
  font-size: 24px;
  color: #1e1e1e;
}
