.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3.6%;
  background: #c1dcdc;
  height: 400px;
  font-family: "Poppins", sans-serif;
  padding: 3.6% 6.6%;
  font-size: 18px;
}

.leftFooter {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.logoFooter {
  font-family: "Abhaya Libre", serif;
  font-weight: 400;
}

.leftFooter p {
  color: rgba(30, 30, 30, 0.5);
  font-size: 18px;
  font-weight: 500;
}

.socialMediaContainer {
  display: flex;
  gap: 24px;
}

.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;

  color: rgba(30, 30, 30, 0.75);
  font-size: 24px;

  width: 48px;
  height: 48px;
  border: rgba(30, 30, 30, 0.5) 1px solid;
  border-radius: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-weight: 700;
}

.column p a {
  text-decoration: none;
  color: rgba(30, 30, 30, 0.5);
  font-weight: 400;
}
